<div class="row">
	<h3>About</h3>

	<p>「Play With」は、オンラインゲームを始めたいけど、一緒に遊ぶ仲間がいない、かといって野良は怖い、という方々が遊び仲間を探すためのサイトです。</p>
	<p>やりたいゲームを、自分と同じように遊ぶ機会を求めている人と一緒に遊びましょう！</p>
	<p>※著作権等の都合により、ゲームの画像や情報は掲載しておりませんのでご了承ください。</p>
	<p>詳細は各ゲームの公式サイトなどをご覧ください。</p>

	<h4>使い方</h4>
	<p>1. マイページからプロフィールを登録しましょう</p>
	<p>2. 遊んでいる / 遊びたいゲームを登録しましょう（なかったら自分で一覧に追加できます）</p>
	<p>3. 同じゲームをしている人や遊びたい人をフォローしましょう</p>
	<p>4. 遊びたい人をコメントで誘ってみたり、遊びたいゲームの投稿をしましょう</p>

</div>
