<div class="row">
	<h3>ゲーム一覧</h3>
	<table class="table">
		<% @games.each do |game| %>
			<tr>
				<td class="table">
					<%= game.title %>
				</td>
			</tr>
		<% end %>
	</table>
	<%= link_to "ゲームを追加したい", new_game_path, class:"btn btn-info btn-md" %>
</div>
