<div class="row">
	<h3>ゲーム “<%= @word %>” を含む</h3>
	<% if @contents.present? %>
		<%= render partial: "public/games/table", locals: { games: @contents } %>
	<% else %>
		<h4>　ゲームはありません。</h4>
		<% if user_signed_in? %>
			<div class="col-md-2", style="padding-top: 20px;">
				<%= link_to "ゲームを追加したい", new_game_path, class:"btn btn-info btn-lg" %>
			</div>
		<% end %>
	<% end %>
</div>
